.room-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.room-list__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.room {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.room__title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.room__info {
  font-size: 16px;
  color: black;
}

.room__price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}