.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.review__head {
  display: flex;
  justify-content: space-between;
}

.review__name {
  font-weight: bold;
}